@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <br />
    <br />
    <h2 style="color: purple">İletişim Bilgileri</h2>

    <h3>Github Hesabım</h3>
    <h3><a href="https://github.com/acareyyup">Eyyüp Acar</a></h3>
</div>