@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>Şifremi unuttum onayı</h1>
<p>
    Şifrenizi sıfırlamak için lütfen e-postanızı kontrol edin.
</p>
